/* font */
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font:'BebasNeue', 'Arial Narrow', Arial, sans-serif;
    background-color: wheat;
}
.judul-gallery {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 10px white;
    color: brown;
}
.container3 {
    width: 600px;
    border: 0 solid white;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 40px 1px white;
    box-sizing: border-box;
    background-color: wheat;
}
.gallery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 0 solid white;
   /* overflow: hidden; */
    float: left;
    margin-right: 25px;
    position: relative;
    text-align: center;
    line-height: 120px;
    text-decoration: none;
    text-shadow: 0 0 4px white ;
}
.clear {
    clear: both;
}
.gallery li a img {
    border-radius: 50%;
}
.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(red, green, blue, .8);
    border-radius: 50%;
    position: absolute;
    top: 0;
    color: wheat;
    opacity: 0;
    transition: .3s;
    transform: scale(0) rotate(300deg);
}
.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}
/* overlat */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0);
    z-index: 999;
    transition: 1s;
    height: 0;
    width: 0;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 20px;
    /* text-align: center; */
}

.overlay:target {
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.7);
    width: auto;
    height: auto;
}
.overlay img {
    max-height: 100%;
    box-shadow: 0 0 10px rgba(12,12,12,.7); 
}
/* animasi */
@keyframes zoomAndFade {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(100%);
    }
}
.overlay:target img {
    animation : zoomAndFade 1s;

}
.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin: -10px;
    text-decoration: none;
    color: white;
    transform: scale(100%);
    border: .3px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}
.overlay:target .close {
    animation: slideDownFade 1s .5s forwards;
    

}
@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;

    }
}