/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** style */
body {
    background-image: url("../img/bg2.png");
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    font: 16px/28px Trebuchet Ms, Sans-serif;
    color: #333:
}
.box-header {
    position: relative;
}
.ribbon {
    background-image: url(../img/ribbon5.png);
    background-repeat: no-repeat;
    position: absolute;
    height: 305px;
    width: 150px;
    display: inline-block;
    right: -94px;
    top: 28px;
    text-indent: -9999px;
}
.sosmed {
    height: 40px;
    background-color: salmon;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.side-bar {
    height: 360px;
    width: 90px;
    background-color: salmon;
    position: fixed;
    top: 182px;
    right: 70px;
    display: inline-flex;
    border: none;
    border-radius: 0 20px 20px 0;
    z-index: 5;
}
.sosmed ul li {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding-top: 2px;
    }
.sosmed ul li a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}
    .side-menu ul li a {
        color: white;
        font-size: 65px;
        display: block;
        margin-left: 10px;
        position: static;
        padding-top: 6px;
        transition: .7s;        
    }
    .side-menu ul li a:hover {
        color: wheat;
        
    }
.container {
    background-color: whitesmoke;
    width: 1000px;
    margin: auto;
}
.box-header {
    background-image: url(../img/bg-header.png);    
}
.header .judul {
    font-size: 45px;
    padding-top: 60px;
    padding-left: 5px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    
}
.header .judul a:hover {
    color: salmon;
    transition: 1s;
}
.header a {
    text-decoration: none;
    color: brown;
    -webkit-filter: drop-shadow(0 1px 10px salmon);
    

}
.header small {
    font-size: 23px;
    font-family: 'alex_brushregular';
    padding-top: -10px;
    color: white;
    margin-left: 8px;
    -webkit-filter: drop-shadow(0 1px 2px black);
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 12, 2020 */
@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 8px;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: salmon;
    box-sizing: border-box;
 }
.header ul li:hover {
    background-color: salmon;
    color: whitesmoke;
    transition: .5s;
}
.header ul li a:hover {
    color: whitesmoke;
    transition: .5s;
}
.hero {
    background-image: url(../img/emr.png);
    height: 360px;
    background-size: cover;
    background-position: bottom;
    border-top: 25px solid salmon;
    border-bottom: 3px solid brown;
    box-sizing: border-box;
}
.welcome h1 {
    font-size: 20px;
    width: 350px;
    color: tomato;
    text-align: center;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    padding: 10px 15px;
    margin: auto;
    margin-top: 150px;
}
.welcome h1:hover {
    background-color: salmon;
    color: whitesmoke;
    border-radius: 10px;
    transition: .5s;
}
.contain {
    background-color: wheat;
    margin: auto;
    text-align: center;
    color: #333;
}
.container .contain2 {
    height: 400px;
    position: relative;
    background-color: wheat;
    color: #333;
}
.contain h2 {
    font-size: 44px;
    font-weight: bold;
    color: brown;
    padding-top: 20px;
    display: inline-block;
    font-family: 'alex_brushregular';
}
.contain h2:hover {
    color: salmon;
    border-bottom: 2px solid salmon;
    transition: .5s;

}
.contain p {
    padding: 20px;
    font-size: 18px;
    color: #333;
}
.art .penulis {
    font-size: 10px;
    margin-top: -5px;
}
a {
    text-decoration: none;
    color: salmon;
}
.art a {
    font-size: 10px;

}
.art p {
    color: #333;
    padding-bottom: 12px;
 }
 .art {
    margin-top: -12px;
    box-sizing: border-box;
 }
 .art .art1 {
    height: auto;
    width: 46%;
    margin-top: 12px;
    margin-left: 1px;
    padding-right: 12px;
    padding-left: 12px;
    float: left;
    border: 3px dashed salmon;
    font: 14px/18px Trebuchet Ms, Sans-serif;
 }
 .art .art2 {
    height: auto;
    width: 46%;
    margin-top: 12px;
    margin-left: 18px;
    padding-right: 12px;
    padding-left: 12px;
    float: right;
    border: 3px dashed salmon;
    font: 14px/18px Trebuchet Ms, Sans-serif;
 }
 .art .art3 {
    height: auto;
    width: 46%;
    margin-top: 12px;
    margin-left: 1px;
    padding-right: 12px;
    padding-left: 12px;
    float: left;
    border: 3px dashed salmon;
    font: 14px/18px Trebuchet Ms, Sans-serif;
 }
 .art .art4 {
    height: auto;
    width: 46%;
    margin-top: 12px;
    margin-left: 18px;
    margin-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    float: right;
    border: 3px dashed salmon;
    font: 14px/18px Trebuchet Ms, Sans-serif;
 }
 .art img {
    float: left;
    height: 80px;
 }
.footer {
    background-color: #333;
    height: 30px;
    width: 100%;
}
.footer p {
    text-align: center;
    color: white;
    font-size: 12px;
}






/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
